.chart {
    -fx-padding: 10px;
    -fx-background-color: DIMGRAY;
}
.chart-plot-background {
    -fx-background-color: #191a1f;
}
/*.chart-vertical-grid-lines {
    -fx-stroke: #2af114;
}*/
.chart-horizontal-grid-lines {
    -fx-stroke: #191a1f;
}
